body {
    background: url(../Images/Back-ground.svg), #FF7A7A 50% / cover no-repeat;
}

/* Desk-top page */
.container {
    display: flex;
    Width: 1366px;
    height: 800px;
    margin: auto auto;
}

.signup-title {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    padding: 299px 235px 41px 135px;
}

.signup-sub-title {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0px 80px 0px 135px;
}

.form-box {
    display: flex;
    border-radius: 8px;
    background: #6055A5;
    box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.12);
    margin-bottom: 24px;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 17px 95px 16px 95px;
}

.form-signup {
    padding: 134px 0px;
}

.form-group {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    padding: 32px 32px;
    gap: 21px;
}

.form-group input {
    border-radius: 4px;
    border: 1px solid #FF7A7A;
    background: #FFF;
    color: #777583;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    padding: 15px 248px 15px 15px;
}

.form-group button {
    border-radius: 8px;
    border: 1px solid #2FB67C;
    background: #38CC8C;
    box-shadow: 0px 2px 0px 0px #2FB67C;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 18px 133px 17px 121px;
    margin-bottom: 17px;
}
.error-text{
    color: #FF7A7A;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.form-text {
    display: flex;
    justify-content: center;
}

.form-text .agree {
    color: #B9B6D3;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form-text .term-services {
    color: #FF7A7A;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* Close Desk-top page */

/* Script */
.input-with-icon {
    position: relative;
}

.input-with-icon img {
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('path/to/your/icon.png');
    background-size: cover;
}
/* .error {
    border: 2px solid #FF7A7A;
} */


/* Mobile page */
@media (max-width: 400px) {
    .container {
        display: block;
        width: 400px !important;
        height: 965px !important;
    }

    .signup-title {
        max-width: 340px;
        text-align: center;
        padding: 90px 30px 15px 30px;
    }

    .signup-sub-title {
        max-width: 352px;
        text-align: center;
        padding: 0px 24px 44px 24px;
    }

    .form-box {
        padding: 17px;
        display: block;
    }

    .form-box-sub-text {
        color: #FFF;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .form-signup {
        padding: 0px 30px;
    }

    .form-group {
        padding: 32px 30px;
    }

    .form-group input {
        padding: 15px 58px 13px 16px;
    }

    .form-group button {
        padding: 16px 33px;
    }

    .form-text {
        display: block;
        justify-content: center;
    }

    .form-text .term-services {
        padding: 7px;
        text-align: center;
    }
}
/* Close mobile page */

/* Ipad */
