/* body {
    background: url(../Image/Back-ground.svg), #FF7A7A 50% / cover no-repeat;
} */
/* .container {
    display: flex;
    Width: 1366px;
    height: 800px;
    margin: auto auto;
    background: url(../Image/Back-ground.svg), #FF7A7A 50% / cover no-repeat;
} */

@media (max-width: 400px) {
body {
    background: url(../Image/Back-ground.svg), #FF7A7A 50% / cover no-repeat;
}
.signup-title {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    width: 340px;
    padding: 90px 30px 15px 30px;
}

.signup-sub-title {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 24px 44px 24px;
}

.form-box {
    border-radius: 8px;
    background: #6055A5;
    box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.12);
    margin-bottom: 24px;
    align-items: center;
    padding: 17px;
}
.form-box-text {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.form-box-sub-text{
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.form-signup {
    padding: 0px 30px;
}

.form-group {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 21px;
    padding: 32px 0px;
}

.form-group input {
    border-radius: 4px;
    border: 1px solid #B9B6D3;
    background: #FFF;
    color: #777583;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    padding: 15px 32px 15px 16px;
}

.form-group button {
    border-radius: 8px;
    border: 1px solid #2FB67C;
    background: #38CC8C;
    box-shadow: 0px 2px 0px 0px #2FB67C;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 18px 26px;
}

.form-text {
    justify-content: center;
}

.form-text .agree {
    color: #B9B6D3;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form-text .term-services {
    color: #FF7A7A;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding: 7px ;
} 
}